{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<body class='text-center'>
    <h1>Please, create your account</h1>
    <br>
    
    <form class="col-md-6 offset-md-3" action="/register" method = "POST">
        <label for="username">Username</label>
        <input type="text" class="form-control col-sm-6 offset-md-3 btn-light" name="username" id="username" placeholder="Username" aria-label="Username" required>
        <label for="password">Password</label>
        <input type="password" class="form-control col-sm-6 offset-md-3 btn-light" name="password" id="password" placeholder="Password" aria-label="Password" title="password must be at least 8 characters and 1 uppercase letter, 1 lowercase letter and 1 number" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,30}$" required>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control col-sm-6 offset-md-3 btn-light" name="confirmPassword" id="confirmPassword" placeholder="Password" aria-label="Password" title="password must be at least 8 characters and 1 uppercase letter, 1 lowercase letter and 1 number" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,30}$" required>
        <label for="email">E-mail</label>
        <input type="email" class="form-control col-sm-6 offset-md-3 btn-light" name="email" id="email" placeholder="Email" aria-label="Email" required>
        <br>
        <div style="color: rgb(255, 155, 155); margin-top: -10px; margin-bottom: 10px;"
        class="offset-md-4"> {{ msg }} </div>
        <input type = "submit" class='btn btn-success col-sm-2' value = "Create" />
     </form>
</body>
 {% endblock %}